name: Snapshot
on:
  push:
    branches:
      - trunk

jobs:
  publish-snapshot:
    if: ${{ github.repository == 'MiSikora/ruler' }}
    name: Publish Snapshot
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0

      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Configure JDK
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Cache Gradle Dirs
        uses: actions/cache@v2.1.4
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ hashFiles('**/*.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: cache-gradle-

      - name: Deploy Snapshot
        env:
          ORG_GRADLE_PROJECT_SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
        run: ./gradlew uploadArchives --no-daemon --no-parallel --stacktrace

      - name: Build HTML Docs
        run: ./gradlew dokkaHtml --stacktrace

      - name: Stop Gradle
        run: ./gradlew --stop

      - name: Publish Website
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.17
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
